@model WeaponManager.Models.Pistol
@using WeaponManager.Data.Enums

@{
    ViewBag.Title = "Nová pistole";
}

<h2>Nová pistole</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">@Html.DisplayNameFor(_ => Model.Weight) (g)</label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuzzleVelocity" class="control-label">@Html.DisplayNameFor(_ => Model.MuzzleVelocity) (m/s)</label>
                <input asp-for="MuzzleVelocity" class="form-control" />
                <span asp-validation-for="MuzzleVelocity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MagazineCapacity" class="control-label"></label>
                <input asp-for="MagazineCapacity" class="form-control" />
                <span asp-validation-for="MagazineCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PistolType" class="control-label"></label>
                <select asp-for="PistolType" asp-items="Html.GetEnumSelectList<PistolType>()">
                    <option selected="selected" value="">Vyberte</option>
                </select>
                <span asp-validation-for="PistolType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PistolRange" class="control-label">@Html.DisplayNameFor(_ => Model.PistolRange) (m)</label>
                <input asp-for="PistolRange" class="form-control" />
                <span asp-validation-for="PistolRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">@Html.DisplayNameFor(_ => Model.Price) (Kč)</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-dark" /> |
                <a asp-action="Index" class="text-dark">Zpět</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
